# Node dependencies
node_modules/
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
*.env
.env.*
.env.example
*.env.example
**/.env*
**/.env.example

# Build output
dist/
**/dist/
build/
.output/

# Logs & Temp
logs/
*.log
*.tmp
uploads/*
!uploads/.gitkeep
*.db
*.db-journal

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS Files
.DS_Store
Thumbs.db

# Prisma
/server/prisma/migrations

